<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 	<form action="/team" method="POST">
 		<label for="name">Team name: </label><input type="text" name="Team Name" id="name">
 		<br>
 		<label for="coach">Coach: </label><input type="text" name="Coach" id="coach">
 		<br>
 		<label for="pg">PG: </label><input type="text" name="Point Guard" id="pg">
 		<br>
 		<label for="sg">SG: </label><input type="text" name="Shooting Guard" id="sg">
 		<br>
 		<label for="sf">SF: </label><input type="text" name="Small Forward" id="sf">
 		<br>
 		<label for="pf">PF: </label><input type="text" name="Power Forward" id="pf">
 		<br>
 		<label for="c">Center: </label><input type="text" name="Center" id="c">
 		<br>
 		<input type="submit" value="SUBMIT" id="Submit">
 	</form>
 </body>
</html>


